@{
    ViewData["Title"] = "Contact";
}
<header class="intro-header" style="background-image: url('../images/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <hr class="small">
                        <span class="subheading">Perguntas?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Se quiser Falar Comigo, XD!</p>
         
                Rua Joao Gaspar<br />
                São Paulo, SP 05843-290<br />
                <abbr title="Phone">P:</abbr>
                +55 11 96875-3796
                <br>
                <strong>MeGmail:</strong> <a href="mailto:Support@example.com">guineitor.traps236@gmail.com</a><br>
                OR
            
            </div>
        </div>
    </div>
